/* RESET GENERICO */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: 'Open Sans', sans-serif;
}

/* HEADER */
header{
    width: 100vw;
}
header .header-first{
    width: 100%;
    height: 50px;
    padding: 0 30px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header .header-first ul{
    display: flex;
    align-items: center;
}
header .header-first li{
    list-style: none;
}
header .header-first a{
    text-decoration: none;
}
header .header-first a, 
header .header-first i{
    color: white;
    padding: 15px;
    cursor: pointer;
    
}
header .header-first a:hover{
    text-decoration: underline;
    color: greenyellow;
}
header .header-first i:hover{
    color: greenyellow;
}
/* MAIN  */
main .flex-box{
    height: calc(100vh - 130px);
    overflow: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    gap: 20px;
}

main .card-box{
    height: 150px;
    width: 300px;
    cursor: pointer;
    background-image:url( ../img/unsplash.jpeg );
    background-size: cover;
    
    position: relative;
    
}
main .card-box:hover{
    background-image: url(../img/unsplash2.jpeg);
}
main .name-box{
    
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
}


main .flex-box .card-box i,
main .flex-box .card-box a{
    color: white;
    padding: 5px;
    cursor: pointer; 
}
main .flex-box .card-box a{
    text-decoration: none;
}
main .fa-microphone{
    display: none ;
}
/* HOVER  */
.name-box :hover > .fa-microphone{
    display: inline-block;
    color: greenyellow;
}
.name-box :hover > .fa-microphone-slash{
    display: none;
}
main .card-box a:hover{
    text-decoration:underline;
}
/* FOOTER  */
footer{
    width: 100vw;
}
footer .footer-first{
    width: 100%;
    height: 80px;
    background-color: #222222;

    display: flex;
}
footer .mini-box{
    width: 25%;

    display: flex;

}
footer .maxi-box{
    width: 50%;

    display: flex;
    justify-content: center;
}
footer .footer-first > div{
    height: 100%;
}

footer .icon-minibox{
    padding: 10px;
    display: flex;
    align-items: center;

    color: white;
}
footer .text-minibox{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

footer .terzo-mini-box{
    display: flex;
    align-items: center;
    justify-content: flex-end;

}
footer .terzo-mini-box div{
    display: flex;
    align-items: center;

}

footer .text-minibox p{
    font-size: 0.8em;
}
footer .text-minibox i{
    font-size: 1.5em;
    padding-bottom: 7px;
}

#icon-green span i{
    color: greenyellow;
}

#icon-green i:last-child{
    margin-left: 20px;
}

footer .terzo-mini-box span{
    padding: 10px;
    color: red;
    font-weight: 500;
}
footer .terzo-mini-box div{
    height: 100%;
    cursor: pointer;
    
}
footer .terzo-mini-box div:hover{
    background-color: #4a4a4a;
     
}


.icon-minibox:hover{
    background-color: rgba(255, 255, 255, 0.3);
}



/* DEBUG */
.debug .border-red{
    border: 2px dashed orange;
}


.debug footer .mini-box{
    background-color: lightcoral;
}
.debug footer .maxi-box{
    background-color: lightcyan;
}
