/* RESET GENERICO */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* HEADER */
.header-first{
    height: 70px;
    display: flex;
    justify-content: flex-end;
}
.header-first nav{
    
}
.header-first li{
    list-style: none;
}
/* MAIN  */


/* FOOTER  */



/* DEBUG */
.debug .border-red{
    border: 2px dashed orange;
}
.debug .header-first nav{
    background-color: red;
    height: 100%;
    width: 100px;
}